__pycache__/
*.pyc
.env
venv/
node_modules/
.trae/
.git/
.vscode/
.idea/
config/github_config.json
logs/
*.log

config/github_token.txt
*.tar.gz
*.zip
*.rar
push_log.txt
push_log_new.txt

config/google_key.json
config/smtp_config.json
